.strike {
  text-decoration: line-through;
  color: #A52A2A;
}

.container {
  font-family: 'lato', sans-serif;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
}

.table {
  background-color: #eaece5;
}

.table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.table-header {
  background-color: #95A5A6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}
.col-1 {
  width: 450px;
}
.col-2 {
  width: 450px;
}

.col-3 {
  width: 900px;
  text-align: center;
}
