{% extends 'base.html' %}
{% load static %}

{% block  content %}
<link rel="stylesheet" type="text/css" href="{% static 'point_of_sales/style.css' %}">

<div class="container"> 

  <div class="point-details">
    <h1>{{ object.name }}</h1>
    <p> {{ object.description }}</p>
  </div>

  <div class="line"></div>
  
  <div class="devices">
    <li class="table-header">
      <div class="col col-3">Dispositivos</div>
    </li>

    <table id="devices-table">
      <tr>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Precio</th>
        <th>Memoria</th>
        <th>Memoria Interna</th>
      </tr>
      {% for device in devices %}
        <tr>
          <td>{{ device.name }}</td>
          <td>{{ device.brand }}</td>
          <td>${{ device.price }}</td>
          <td>{{ device.memory }} GB</td>
          <td>{{ device.internal_memory }} GB</td>
          <td><a class="button" href='{{ device.get_absolute_url }}'>Ver Dispositivo</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="tablets">
    <li class="table-header">
      <div class="col col-3">Tabletas de Asistencia</div>
    </li>
    <table id="devices-table">
    <tr>
      <th>Nombre</th>
      <th>En linea</th>
    </tr>
    {% for tablet in attendance_tablets %}
      <tr>
        <td>{{ tablet.name }}</td>
        <td class="
            {% if tablet.online %}green{% endif %}
            {% if tablet.online == False%}red{% endif %}">
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}