
.container{
  margin: 10px;
  font-family: sans-serif;
}

.grid-stores {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding: 10px;
}
.grid-item {
  display: inline;
  background-color: #c0ded9;
  border-radius: 15px;
  padding: 20px;
  font-size: 30px;
  margin: 5px;
  border: 1px solid black;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: sans-serif;
}

.grid-item:hover {
  background-color: #b2c2bf;
}

.store-info {
  float: left;
}

.store-buttons {
  float: right;
}

.store-buttons button {
  background-color: grey;
  border: 1px solid black;
  color: white;
  padding: 15px 40px;
  cursor: pointer;
  width: 100%; 
  display: block;
}

.store-buttonsbutton:not(:last-child) {
  border-bottom: none; 
}

.store-buttons button:hover {
  background-color: #333;
}

#create-store {
  background-color: grey;
  border: 1px solid black;
  color: white;
  padding: 15px 40px;
  cursor: pointer;
  width: 100%; 
  display: block;
}

#create-store:hover {
  background-color: #333;
}
