{% extends 'base.html'%}

{% block content %}

<div class = 'container'>
	<h1>Thread {{obj.id}}</h1>

	<p>Username: {% if obj.username %} {{ obj.username }} {% else %} Anonymous {% endif %}</p>
	<h2>title: {{obj.title}}</h2>
	<h3>text: {{obj.text}}</h3>


	<h2>Posts in this thread</h2>
	<h3>Post Form:</h3>

	{% for post in posts %}
		<div>
			<p>Username : {{post.username}}</p>
			<p>Text : {{post.text}}</p>
		</div>
	{% endfor %}

	<form method="POST" action = '{{thread.get_absolute_url}}'>
		{%csrf_token%}
		{{form}}
		<input type="submit" name="Create Post">
	</form>
</div>
{% endblock %}