{% extends 'base.html'%}

{% block content %}

<div class = 'container'>
	
	

	<div class = "container post">
		<p class = "title"><em>{{obj.title}}</em> {{obj.username}}, {{obj.createdAt}} </p>
		<p>{{obj.text}}</p>
	</div>




	{% for post in posts %}
		<div class ="container post">
			<p>{{post.username}}, {{post.createdAt}},</p>
			<p>{{post.text}}</p>
		</div>
	{% endfor %}
	

	<div class="container">
		<h4>Post Form:</h4>


		<form method="POST" action = '{{thread.get_absolute_url}}'>
			{%csrf_token%}
		
			{{form}}
			<button type="submit" class="btn btn-outline-primary" name="Create Post">Create Post </button>
		</form>
	</div>
</div>
{% endblock %}