{% extends 'base.html' %}
{% load static %}

{% block  content %}
<link rel="stylesheet" type="text/css" href="{% static 'stores/style.css' %}">

<div class="container">
  <div class="title">
    <h1>Tiendas</h1>
  </div>

  <div class="line"></div>

  <div class="grid-stores">
    {% for store in stores %}
      <div class="grid-item" onclick="location.href='{% url 'store-show' store.id %}'">
        <div class="store-info">
          <h4>{{ store.name }}</h4>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
